@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body{

  background-color: rgb(255, 255, 255);
}

.navbar-nav>li>a{

  text-transform: uppercase;
  font-size: 15px;
  margin-right:30px;
  color: rgb(255, 255, 255);
}


.navbar-toggler {
  /*---------------COLOR DEL BOTONCITO------------ */
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;

    background-color:rgb(0, 110, 255);
    border: 1px solid rgb(255, 255, 255);
 /* Ver en negro los botones*/
    }
    a:hover{
      background-color: rgb(134, 161, 163);

    background-color: rgb(0, 132, 255);
    


    }

  
    .nav-link{

      color: rgb(255, 255, 255) !important;
      

    }
  

.wrapper{
      width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand{
 /* -------------------COLOR DEL LOGOTIPO-------------------*/
  color:#ffffff; 
  color:rgb(255, 255, 255); 

  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
  margin-left: 15px;
}

.navbar-red:hover .wrapper{

  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);

}

.navbar-brand:hover{

  color:#fff;
  
}

.navbar-red{

  background-color: rgba(255,115,0,255);
  color: rgba(255,115,0,255);

}

.all-show{

  z-index: 10;
}