<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" media="only screen and (max-width: 320px)" href="footer.component.css">
<footer>
  <div class="footer-top">
      <div class="container">
          <div class="footer-day-time">
              <div class="row">
                  <div class="col-md-8">
                      <ul>                        
                          <li><i class="fa fa-clock-o" aria-hidden="true"></i> Horario de atención - Lunes a domingo: 8:00 AM - 5:00 PM</li>
                        
                      </ul>
                  </div>
                  <div class="col-lg-4">
                      <div class="phone-no">
                          <a href="tel:+52 1 6181429945"><i class="fa fa-phone" aria-hidden="true"></i>Tel: 618-142-99-45</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  
                  <h4>Sobre Nostros...</h4>
                  <ul class="address1">
                    <li><i class="fa fa-info-circle"></i> Somos una empresa 100% de familia duranguense que busca conservar el patrimonio forjado hace 40 años.</li>
                  </ul>
                  <!--<p><i class="fa fa-info-circle"></i> .  </p>-->

              </div>

              <div class="col-md-4">
                  <h4>Información</h4>
                  <ul class="address1">
                      <li><i class="fa fa-map-marker"></i><a href="contactos"> Ubicaciones</a></li>
                      <li><i class="fa fa-envelope"></i><a href="mailto:#">mrsoria100@gmail.com</a></li>
                      <li><i class="fa fa-mobile" aria-hidden="true"></i> <a href="Cel:618-123-45-67">618-123-45-67</a></li>
                  </ul>
              </div>

              <div class="col-md-4">
                  <h4>Siguenos</h4>
                  <ul class="social-icon">
                      <li><a href="https://es-la.facebook.com/productosmrsoria/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="https://www.instagram.com/carniceriasmrsoria/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      <!--<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                  </ul>
              </div>

          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-sm-5">
                  <p class="copyright text-uppercase">Todos los derechos reservados. © 2023
                  </p>
              </div>
              <div class="col-sm-7">
                  <ul>
                      <li><a href="index">Inicio</a></li>
                      <li><a href="Nosotros">Nosotros</a></li>
                      <!--<li><a href="#">Our services</a></li>-->
                      <li><a href="contactos">Contactos</a></li>
                      <li><a href="login">  <img src="https://png.pngtree.com/png-vector/20190919/ourlarge/pngtree-user-login-or-authenticate-icon-on-gray-background-flat-icon-ve-png-image_1742031.jpg" width="27" height="27" >     </a>  </li> 
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>