<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>NUESTRA MISION</h3>
                        </div>
                        <p  class="description-p text-muted pe-0 pe-lg-0">
                            Ser una empresa líder en venta de cárnicos y derivados llegando a cada mesa de las familias duranguenses mediante la inocuidad alimenticia, calidad, otorgando un producto y servicio inigualable y competitivo, entregando productos accesibles a la economía del consumidor.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="https://images.unsplash.com/photo-1606137903496-ed0aa56392ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" width="500" height="500" alt="potoabout" />
                </figure>
            </div>
        </div>
    </div>
</section>

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="https://images.unsplash.com/photo-1508615263227-c5d58c1e5821?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80||" width="500" height="500" alt="potoabout" />
                </figure>
            </div>
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>NUESTRA VISION</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Tener 10 sucursales distribuidas en toda el área de la ciudad para estar cada vez más cerca de nuestros clientes con horarios extendidos.
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">Otorgar el plus de comida rápida y/o producto listo para cocinarse al cliente en todas las sucursales logrando satisfacer las necesidades del cliente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>NUESTROS VALORES</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Los valores eticos y profesionales por los cuales nos regimos; nos brindan una identidad propia con el fin de transmitir a usted, lo que nosotros representamos como empresa y asi generar confianza a traves de los siguientes valores  
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">RESPETO, HIGIENE, HONESTIDAD, TRABAJO EN EQUIPO Y SEGURIDAD</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="https://images.unsplash.com/photo-1604503468506-a8da13d82791?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80||" width="500" height="500" alt="potoabout" />
                </figure>
            </div>
        </div>
    </div>
</section>