<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Boton Flotante con Css</title>
    <link rel="stylesheet" href="bttn-ws.component.css">
    <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a href="https://www.facebook.com/productosmrsoria" class="Facebook">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAN1JREFUSEvtVsENwjAQsyeBTYANWIFJgElgA8QEwAaMUDZgA6MTRTpFDWlKS1W190xPce2zkxA9FXvCxXCBJc0BzJxyD5JFSsnGjCUtARwAGLCvG0n79rUaAUtaAzhFdu4U2KT08nbPuJT4EsoL4FquFSSPrUtdIbOZKZxzCjc/TpJ2ALZu51ozDf8k21zjAJZkxlkkB/duOJO0uP2e40zgPUnzwd+BN63FKZPxiuQn01HWk6tTnsA4cuxlmBgDmC6JZDKsYVAHiL02/IvjSfJei6ZrymacCxDrHx/wC1cUeh/U3anMAAAAAElFTkSuQmCC"/>            </a>
            <a href="https://www.instagram.com/carniceriasmrsoria/" class="Instagram">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAhRJREFUSEvlVu0xREEQ7I4AESACRIAIEACFBMjAiQAR+EgAEeC3H06V/2SACFq1mqf2vdt39t2pOsr8ubq73e2Z3p6eJSYUnBAufjewpGkAC4XsPJJ8+25ta8UBdgBgHcDcdwc1/n8BcAXgsC2JLLCkFQCnCeA7gH4h+CKAqVjrBDZIDuwdAI5KHwL0GsA+SR9QHJIMfgxgGYD3LjUrzwF7wx6Aa5KmuVNI2gRAkheSbgP8hOR+elAO2BnOApgfoVKDXgTATlR740+S863AQfMrACvTdA1E0LgGoPrf92d2+pK2AJzHpl2Sp5IU32dSumsVh6ic4R1JC6wWknoArPRc9EgeSto21QCeSN5LcmJuxVWSpv4zioETUCvcOqgOcYK+PyvZ7ePkviK55+7AQa+VbtC5pkLjiqwNg9e0MS5wRfFARVVpkqpuqK0ZF9guZEHV6GpQ6ta7bLbhnwWeGNXuWYvLU8fiqU2fENczAE+xnxOX7zJpJ4Om7eS7de8a9GfbKVHuMAPJKr7UQJy1LbNPcqnFMj2bXWFqmWdtvl5kmUHpyEMiY7F2NVvwO0kX9RXDxuIVyY0WXy76uetYdGY2do9G+/HOCOPR13AEwBVnbXbY0+cswF2dldzl6VPRatD1dCplp1PDAr3ZKraQqjdUEcVRpW3Wz6bsi7PoXS3JSi59ab7lHnfNjIuAS8vssu7/AX8A9G5ULowqLPIAAAAASUVORK5CYII="/>
            </a>
            <a href="https://api.whatsapp.com/send/?phone=5216181429945&text&type=phone_number&app_absent=0" class= "WhatsApp"> 
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAoFJREFUSEvllv1RFUEQxLsjUCMQIhAjUCJQIxAjECNQI1AjECIQIxAiECPwEYEQwVi/V7NXe3t7dw/+oSyn6tW7z+3p7pnZs+4pfE+4+reAI+KhpCep1pXtzW2V25lxRDyX9FrSS0kAt3Em6cz26S5JrAJHxIGkT5IALnFRHXP/QXV+KemNbf5nYxE4WX5LhleSPiSr63rFiNiTRAKfJT3Oe4CfzCHPAifoj3zxi+3jNQnTe5J7uwbeBU4GP5PpYua9ZCKCOkAp4mlP9jlgCuWFpIFpqWTbtb+zIkQEssN8Y3u/fXACnMUEWzw9sH2doL9vo0C+Q4Hh+US1HnDJ9J1tjhUR+EtlE+e2D9f8zveK5N9tczxED5hhQJb7ZTBEBAXzvnqv61ubTLL+w3XbI6wecCCzbVpkGw3jSfZL7COiEBklOwKuMrywPQyMvM4CDIrBgh3lPpf0TNKhbY630QLDkiIaATesGR4ssjiZKrVKh8wDJwBSTzzJe0wi5vUIPPuWTYP2a6daYTzUzIRxLl48edQu0oBzSiIw4p+NA9CPpRsqIje2RxvLUjuxANU8iWo49G4PxVdNsFPbR/XDSwOE7JFnJF3lHcVHfzPhStywixX/q4p+ZRtlhpgbmRQOno0KYoY9ErIzEZcl0aoFJ4Xa9Th9gSWt0/W5l0B9LSKQ9aukkQK7Sv3L9pYJfTwneZtEM+Vmd7aex2Uu4wkVjpckwDHV22sZ5MZripFZANOj1tc1xqXv6udYqP68wYoyQGqPeYdt83htwMzNaoBIgB8fcJv8OEANdpnyeVOSYwvl2ZN6LC7VQm9W761lm74jKd7vNDrbJFa/Mtcq+K73/z/gv7xcOC5aSTjLAAAAAElFTkSuQmCC"/>
            </a>  
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>
</body>
</html>